* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--dark-cyan: hsl(185, 75%, 39%);
	--very-dark-desaturated-blue: hsl(229, 23%, 23%);
	--dark-grayish-blue: hsl(227, 10%, 46%);
	--dark-gray: hsl(0, 0%, 59%);
}

html {
	font-size: 10px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100vw;
	background-color: var(--dark-cyan);
	font-family: 'Kumbh Sans', sans-serif;
}

h1,
h2 {
	font-size: 1.8rem;
}

p,
span {
	color: var(--dark-gray);
}

p {
	font-size: 1.3rem;
	font-weight: 700;
	letter-spacing: 1px;
}

span {
	margin-left: 5px;
	color: var(--dark-gray);
	font-size: 1.8rem;
}

.buble-one {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 978px;
	width: 978px;
	background-image: url('./images/bg-pattern-bottom.svg');
	border-radius: 50%;
	z-index: -5;
}

.buble-two {
	position: absolute;
	right: 50%;
	bottom: 50%;
	height: 978px;
	width: 978px;
	background-image: url('./images/bg-pattern-top.svg');
	border-radius: 50%;
	z-index: -5;
}

main {
	border-radius: 15px;
	overflow: hidden;
}

.profile-background {
	height: 140px;
	width: 350px;
	background-image: url('./images/bg-pattern-card.svg');
}

.profile-data {
	position: relative;
	background-color: #fff;
}

.profile-photo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 106px;
	width: 106px;
	border: 5px solid white;
	border-radius: 50%;
	overflow: hidden;
}

.profile-info {
	padding-top: 75px;
	padding-bottom: 25px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile-info p {
	margin-top: 10px;
}

.profile-details {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 25px 0;
	border-top: 1px solid var(--dark-gray);
}

.profile-details p {
	margin-top: 10px;
}

.detail-one,
.detail-two,
.detail-three {
	display: flex;
	flex-direction: column;
	align-items: center;
}
